* {
    font-family: sans-serif;
}

body{
    background-color: rgb(203, 187, 159);
    display: flex;
    direction: column;
    justify-content: center;
}

.image-profile {
    width: 2cm;
    height: 2cm;
}

.gradient-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, #925454 0%, transparent 100%);
    z-index: 10;
    pointer-events: none;
}

#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    z-index: 100;
    font-size: 2.5em;
    padding: .3em 0em; /* header height*/
}

#header > ul{
    list-style: none;
    margin: 0em;
}

.nav {
    display: flex;
    direction: row;
}

.nav a{
    padding: 0em .5em; /* header elements padding */
    text-decoration: none;
    color: white;
    font-family: 'American Typewriter';
    display: inline-block;
    transition: all 0.3s ease;
}

#header:hover {
    background-color: rgba(94, 64, 64, 0.2);
    backdrop-filter: blur(20px);
}

#header a:hover {
    transform: scale(1.2);
    color: #74e2fb;
}

#first-section {
    padding-top: 15em;
    z-index: 50;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #925454;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    padding: 2em;
    border-radius: .5em;
    color: white;
}

#form h1 {
    font-size: 1em;
}

#form a {
    text-decoration: none;
    color: #74e2fb;
}

#form a + label {
    margin-top: .3em;
}

#form a:hover {
    text-decoration: underline;
}

#form label ~ input {
    height: 1.5em;
    margin-top: .5em;
    border-radius: .25em;
    border-width: .05em;
}

#form button {
    width: 8em;
    height: 2em;
    background-color: #518e7f;
    color: white;
    margin: 1em;
    border-radius: .25em;
    border-width: .05em;
}

@media (max-width: 1000px) {
    #header {
        flex-direction: column;
    }
}
