#image-profile {
    transition: all 0.3s ease;
}

#image-profile:hover {
    transform: scale(1.1);
}

#menu {
    display: none;
    position: fixed;
    right: 0;
    background-color: #7c4545;
    border-radius: .5em;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.8);
    z-index: 100;
    text-align: left;
    min-width: 10em;
    color: rgb(230, 228, 228);
}

#menu.active {
    display: flex;
}

#menu > ul{
    margin: .5em;
    list-style: none;
    padding: 0em 1em;
}

#menu > ul > li {
    margin: .6em 0em;
}

#menu > ul > li > a{
    text-decoration: none;
    color: rgb(230, 228, 228);
}

#menu > ul > li > a:hover{
    text-decoration: underline;
    color: rgb(230, 228, 228);
}
